body {
  margin: 0;
  padding: 0;
  background: #e6e2d3;
}
.main-content {
  flex: 3;
  padding: 30px;
  /* background: #e6e2d3; */
  display: flex;
  flex-direction: column;
}
input {
  /* height makes input boxes bigger */
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid black;
  background-color: rgb(248, 248, 244);
  margin-right: 5px;
}

.btn {
  background: #563f46;
  color: #d6d4e0;
  width: 120px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 7px 10px;
  border: 1px solid;
  /* margin: 10px; */
  margin: 0px 0px 20px 20px;
}
select {
  height: 30px;
  border-radius: 5px;
  background-color: rgb(248, 248, 244);
  margin-right: 5px;
}

.sidebar-gradient {
  background: linear-gradient(135deg, #563f46, #6d4c55, #3c2f3d);
  color: white;
}
.card-body {

  background: linear-gradient(135deg, #563f46, #6d4c55, #3c2f3d);
  border-radius: 12px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 20px rgba(86, 63, 70, 0.6);
}
.card {
  /* background: linear-gradient(to bottom, #6a1b1b, #a83232); */
  background: linear-gradient(135deg, #563f46, #6d4c55, #3c2f3d);
  
}
.nav-link{
    /* display: block; */
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.12);
  padding: 10px 12px;
  border-radius: 10px;
  transition: 0.2s ease;
  
}

.active{
   background:  #2a1f27;
   border-radius: 10px;
   padding: 10px 12px;
   
}
.nav-link:hover {
  background-color:   #2a1f27; /* burgundy background on hover */
  color: #fff;                 /* keep text white */
  border-radius: 10px;          /* optional rounded corners */
   transition: background 0.3s
}
input::placeholder{
  color: #fff !important;
}
/* Dropdown menu background */
.dropdown-menu {
  background-color: #6d4c55; /* burgundy */
  border: none;
}

/* Dropdown items */
.dropdown-item {
  color: #fff; /* white text */
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #563f46,; /* lighter burgundy on hover */
  color: #fff;
}

/* Active item */
.dropdown-item.active {
  background-color:#3c2f3d; /* highlight color */
  color: #fff;
}