body {
  background: linear-gradient(135deg, #563f46, #6d4c55, #3c2f3d);
  background-image:  url("logo-white.png") no-repeat center center fixed;
  background-size: 300px;
  color: white;
  text-align: center;
  padding-top: 100px;

}

.logo-img {
  width: 300px;
  max-width: 100%;
  margin-bottom: 20px;
}

.motto {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 40px;
}

.btn-enter {
  font-size: 1.1rem;
  padding: 12px 30px;
}