<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css'%}?v={{ time }}" />
    <style></style>
  </head>
  <body>
    <div class="d-flex" style="height: 100vh">
      <!-- Sidebar -->
      <aside
        class="py-2 px-4 sidebar-gradient d-flex flex-column p-3"
        style="width: 250px"
      >
      <img
      src="{% static 'Images/Logo.png'%}"
      alt="Nyondo General Hardware Ltd Logo"
      class="logo-img" style="height: 60px; width: 200px;"
    />
        <h6 class="mt-3 fw-bold">Menu</h6>
        <hr />
        <!-- Side bar links -->
        <div>
          <a
            class="nav-link nav-list align-items-center {% if request.path == '/accounts/dashboard/' %}active{% endif %}"
            href="{% url 'accountsdashboard' %}"
          >
            <i class="bi bi-grid me-1"></i>
            <span>Dashboard</span>
          </a>
        </div>
        <br />
        <div>
          <a class="nav-link {% if request.path == '/accounts/sales/' %}active{% endif %}" href="{% url 'accountssales' %}">
            <i class="bi bi-cart3 me-2"></i>
            Sales</a
          >
        </div>
        <br />
        <div>
          <div class="dropdown align-items-center">
            <a
              class="nav-link  me-1 d-flex align-items-center {% if request.path == '/accounts/supplier/' %}active{% endif %}"
              href="{% url 'accountssupplier' %}"
            >
              <i class="bi bi-truck me-2"></i>
              <span>Suppliers</span>
            </a>
          </div>
        </div>
        <br />
        <div>
          <a class="nav-link {% if request.path == '/accounts/stock/' %}active{% endif %}" href="{% url 'accountsstock' %}">
            <i class="bi bi-box-fill me-2"></i>
            Stock</a
          >
        </div>
        <br />
        <div>
          <a class="nav-link {% if request.path == '/accounts/customer-deposit/' %}active{% endif %}" href="{% url 'accountscustomer-deposit' %}"
            ><i class="bi-cash-stack me-1"></i> Deposit Scheme</a
          >
        </div>
        <br />
        <div>
          <a class="nav-link {% if request.path == '/accounts/reports/' %}active{% endif %}" href="{% url 'accountsreports' %}"
            ><i class="bi bi-bar-chart me-1"></i> Reports</a
          >
        </div>
      </aside>

      <!-- Main Area -->
      <div class="flex-grow-1 d-flex flex-column">
        <!-- Header -->
        <nav class="navbar nav px-3 shadow-sm">
          <div class="container-fluid">
            <!-- Search -->
            <form class="d-flex me-auto" style="max-width: 400px; flex: 1">
              <div class="position-relative w-100">
                <input
                  class="form-control ps-5"
                  type="search"
                  placeholder="Search..."
                  aria-label="Search"
              
    
                />
                <i
                  class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"
                ></i>
              </div>
            </form>

            <!-- Right side -->
            <ul class="navbar-nav ms-auto d-flex align-items-center flex-row">
              <li class="nav-item me-3 position-relative">
                <a class="nav-link" href="#">
                  <i class="bi bi-bell fs-5" style="color:#98CA32;"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    >3</span
                  >
                </a>
              </li>
             <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle me-1"></i> Admin
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="./profile.html">Profile</a></li>
          <li><a class="dropdown-item" href="./settings.html">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="./logout.html"><i class="bi bi-box-arrow-right me-1"></i> Logout</a></li>
        </ul>
      </li>
              </li>
            </ul>
          </div>
        </nav>

 <!-- Main Content -->
    <div class="col">
        {% block content %}
          
        {% endblock %}
        

    </div>

    <footer class="text-center">
            © 2026 Nyondo General Hardware. All rights reserved. | Designed by
            Tisha
          </footer>
    </div>
    
    </div>

       


<script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>


    </body>
    </html>