{% extends "base.html" %}
{% block title %}
    Nyondo Deposit Scheme
{% endblock %}
{% block content %}
<h2>Customer Deposits</h2>
<div class="text-end mb-3" style="margin-right: 20px;">
<a href="{% url 'accountscustomer-reg' %}" class="btn ">➕ Register Customer</a>
</div>
<div class="dashboard-table-card" style="margin: 20px;">
<div class="table-responsive">
<table class="table modern-table align-middle mt-3">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>NIN</th>
      <th>Phone</th>
      <th>Product</th>
      <th>Payment Method</th>
      <th>Date Registered</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for deposit in deposits %}
    <tr>
      <td>{{ deposit.participant.name }}</td>
      <td>{{ deposit.participant.nin }}</td>
      <td>{{ deposit.participant.phone }}</td>
      <td>{{ deposit.product }}</td>
      <td>{{ deposit.payment_method }}</td>
      <td>{{ deposit.date_registered }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No deposits yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
