<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sales Receipt</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../static/sales-reg.css" />
  </head>

  <body>
    <div style="margin-left: 500px">
      <img
        src="../static/Images/Logo.png"
        alt="Logo"
        style="height: 100px; width: 200px; justify-content: center"
      />
    </div>
   <div class="container mt-4">
      <div class="card shadow mx-auto" style="max-width: 700px;">
        <div class="card-body">
          <h2 class="text-center">Sales Receipt Form</h2>
          <hr />
          <form>
            <div class="mb-3">
              <label class="form-label">Receipt No</label>
              <input type="text" class="form-control" value="RCT-2026-010" readonly />
            </div>
            <div class="mb-3">
              <label class="form-label">Date</label>
              <input type="text" class="form-control" value="13 Apr 2026" readonly />
            </div>
            <div class="mb-3">
              <label class="form-label">Customer Name</label>
              <input type="text" class="form-control" placeholder="Enter customer name" />
            </div>
            <div class="mb-3">
              <label class="form-label">Transport</label>
              <input type="text" class="form-control" placeholder="Enter transport details" />
            </div>
            
            <div class="mb-3">
              <label class="form-label">Product</label>
              <select class="form-select">
                <option selected>Cement</option>
                  <option>Cement(cem iiN)</option>
                  <option>Cement(cem iiiN)</option>
                  <option>Iron Bars(10 mm)</option>
                  <option>Iron Bars(12 mm)</option>
                  <option value="ironbars">Iron Bars(16 mm)</option>
                  <option value="nails">Nails(1 inch)</option>
                  <option value="nails">Nails(3 inches)</option>
                  <option value="nails">Nails(4 inches)</option>
                  <option value="nails">Nails(5 inches)</option>
                  <option value="roofingnails">Roofing Nails</option>
                  <option value="wheelbarrows">Wheelbarrows</option>
                  <option value="wiremesh">Wire Mesh</option>
                  <option value="barbedwire">Barbed Wire(high tensile)</option>
                  <option value="barbedwire">Barbed Wire(low tensile)</option>
                  <option value="ironsheets">Iron Sheets(gauge 30 red)</option>
                  <option value="ironsheets">
                    Iron Sheets(gauge 28 silver)
                  </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Quantity</label>
              <input type="number" class="form-control" placeholder="Enter quantity" />
            </div>
            <div class="mb-3">
              <label class="form-label">Unit Price</label>
              <input type="text" class="form-control" placeholder="Enter unit price" />
            </div>
            <div class="mb-3">
              <label class="form-label">Total Value</label>
              <input type="text" class="form-control" placeholder="Calculated total" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn ">Generate Sales Receipt</button>
            </div>
          </form>
        </div>
      </div>