{% extends "baseForm.html" %}
{% block title %}
  Edit Sale
{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow mx-auto" style="max-width: 600px;  border: 5px solid  #0ABAB5">
    <div class="card-body">
<h2>Edit Sale</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>Customer Name</label>
    <input type="text" name="customer_name" value="{{ sale.customer_name }}" class="form-control">
  </div>
  <div class="form-group">
    <label>Customer Phone</label>
    <input type="text" name="customer_phone" value="{{ sale.customer_phone }}" class="form-control">
  </div>
  <div>
        <div class="row mb-3">
          <div class="col">
             <label for="name" class="form-label">Product Name</label>
            <select class="form-select" id="name" name="product" required>
              <option value="Cement">Cement</option>
              <option value="Iron Bars">Iron Bars</option>
              <option value="Nails">Nails</option>
              <option value="Wheelbarrows">Wheelbarrows</option>
              <option value="Wire Mesh">Wire Mesh</option>
              <option value="Barbed Wire">Barbed Wire</option>
              <option value="Iron Sheets">Iron Sheets</option>
            </select>
          </div>
  <div class="form-group">
    <label>Distance (km)</label>
    <input type="number" name="distance_km" value="{{ sale.distance_km }}" class="form-control">
  </div>

  <div class="row mt-3">
          <div class="col">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
  <div class="col text-end">
            <a href="{% url 'accountssales' %}" class="btn btn-secondary">
              <i class="bi bi-arrow-left me-1"></i> Back
            </a>
          </div>
          </div>
</form>
</div>
</div>
</div>
{% endblock %}
