{% extends "base.html" %} {% block content %}
<div class="col">
  <div class="container mt-5">
    <h1>Sales Overview</h1>
    <p class="text-muted">Here's what's happening with the sales.</p>

    <div class="row mb-4">
      <div class="col-md-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h6>Total Products</h6>
            <h4 class="text-primary">6,553</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h6>Low Stock</h6>
            <h4 class="text-warning">223</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h6>Out of Stock</h6>
            <h4 class="text-danger">54</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Button to go to Sales Form -->
    <div class="text-end">
      <a href="{% url 'accountssales-reg' %}" class="btn mb-3">
        <i class="bi bi-plus-circle me-1"></i> Record New Sale
      </a>
    </div>
    <!-- Sales Table -->
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title mb-3">Sales Records</h5>
        <table class="table table-striped">
          <thead class="custom-header">
            <tr>
              <th>Date</th>
              <th>Customer</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sales %}
            <tr>
              <td>{{ sale.date|date:"Y-m-d" }}</td>
              <td>{{ sale.customer }}</td>
              <td>{{ sale.product.name }}</td>
              <td>{{ sale.quantity }}</td>
              <td>{{ sale.total_price }}</td>
              <td>
                <a href="#" class="btn btn-sm">
                  <i class="bi bi-eye"></i>
                </a>
                <a href="{% url 'stock-edit' %}" class="btn btn-sm"
                  ><i class="bi bi-pencil"></i>
                </a>
                <a href="#" class="btn btn-sm">
                  <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
          <tfoot class="table-light">
            <tr>
              <td colspan="4" class="text-end">
                <strong>Total Amount:</strong>
              </td>
              <td colspan="3"><strong>{{ total_amount }}</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
